<div  class="control-group" ng-show="tab.isSet(1)" ng-app="iotapp" ng-controller="ajaxController" >
	<div class="row">
		<div class="panel panel-default well well-lg">
		  <div class="panel-body">
				<div class="row">
				  <label class="control-label">Topic (producerTopic for Post/consumerTopic for Get Data )</label>
				  <input type="text"  class="form-control" ng-model="topicToPost">
		        </div>
				<div class="row">
				  <label class="control-label">Application ID (stream id for device or app)</label>
				  <input type="text"  class="form-control" ng-model="appId">
		        </div>
			    <div class="row">
			      <label class="control-label">Message To Topic (only needed for Post)</label>
				  <textarea type="text"  class="form-control" ng-model="ajaxText"></textarea>
		        </div>
		     	<div class="row">&nbsp;</div>
				<div class="row">
		                 <input type="submit" value="Get Data" class="btn btn-info" ng-click="getMessages()">
		                 <input type="submit" value="Post Message" class="btn btn-primary" ng-click="postMessage()">
		                 <input type="submit" value="Stop" class="btn btn-danger" ng-click="stopMessages()">
				</div>
				<div class="row">&nbsp;</div>
				<div class="row alert-success">
							<div ng-repeat="f in ajaxResponse">
							   {{f.content}}
							</div>
				</div>
		  </div>
		</div>
	</div>
</div>


