<html>
<head>
<link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"./>
</head>
<script src= "./bower_components/angular/angular.min.js"></script>
<script src="./scripts/script.js"></script>
<script src="./scripts/script_ajax.js"></script>

<script src="./bower_components/sockjs-client/dist/sockjs-1.0.3.min.js"></script>
<script src="./bower_components/ng-stomp/ng-stomp.min.js"></script>
<script src="./bower_components/stomp-websocket/lib/stomp.min.js"></script>
<script src="./bower_components/stompie/stompie.js"></script>
<script src="./scripts/script_stomp.js"></script>
<script src="./scripts/script_stomp_sockjs.js"></script>

<body ng-app="iotapp" >
  <section ng-controller="TabController as tab">
        <ul class="nav nav-pills red">
            <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Ajax Reference</a></li>
            <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Stomp Reference</a></li>
            <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Stomp SockJS Reference</a></li>
        </ul>
		<div ng-include="'ajax_post_div.html'"></div>
		<div ng-include="'stomp_post_div.html'"></div>
		<div ng-include="'stomp_post_sockjs_div.html'"></div>
   </section>
</body>
</html>
