
<div  class="control-group" ng-show="tab.isSet(3)" ng-app="iotapp" ng-controller="stompSockJSController" >
	<div class="row">
		<div class="panel panel-default well well-lg">
		  <div class="panel-body">
				<div class="row">
				  <label class="col-md-2 control-label">Topic</label>
				  <input type="text"  class="form-control" ng-model="topicToPost">
		        </div>
				<div class="row">
				  <label class="col-md-2 control-label">Application ID</label>
				  <input type="text"  class="form-control" ng-model="appId">
		        </div>
			    <div class="row">
			      <label class="col-md-2 control-label">Message To Topic</label>
				  <textarea type="text"  class="form-control" ng-model="stompText"></textarea>
		        </div>
		     	<div class="row">&nbsp;</div>
				<div class="row">
		                 <input type="submit" value="Get Data" class="btn btn-info" ng-click="getMessages()">
		                 <input type="submit" value="Post Message" class="btn btn-primary" ng-click="processMessage()">
		                 <input ng-model="toggleButton.name" name="toggleButton.name" ng-class="{'btn btn-danger':isDisconnected,'btn btn-success':!isDisconnected}" ng-click="toggle()">
				</div>
				<div class="row">&nbsp;</div>
				<div ng-if="!stompError" class="row alert-success">{{stompResponse}}</div>
				<div ng-if="stompError" class="row alert-danger">{{stompResponse}}</div>
		  </div>
		</div>
	</div>
</div>


