<style>
p.wordwrap{
    word-wrap: break-word;
    max-width:200px;
}
  
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}
</style>
<div  class="control-group" ng-show="mc.isSet(1)"  ng-app="iotapp" ng-controller="configController" >
		<div class="panel panel-default well">
		  <div class="panel-body">
		  	<div class="row alert alert-info">
		        <b>Note:</b>
To read config of a stream:<br>
1. Enter <b>Stream ID</b> id assigned to the stream in Stream ID field and click Get Config.<br>
To add a new config:<br>
2. Enter <b>Stream Config JSON</b> to the Stream Info To Add and click Add Config<br>		        
		        </div>
				<div class="row">
				  <label class="control-label">Stream ID (needed while getting stream info)</label>
				  <div class="column"><input type="text"  class="form-control" ng-model="appId"></div>
                  <div class="row">&nbsp;</div>
                  <div class="column">
                      <input type="submit" value="Get Config" class="btn btn-info btn-responsive" ng-click="getConfig()">
                      <input type="submit" value="Delete Config" class="btn btn-danger btn-responsive" ng-click="deleteConfig()">
                  </div>
                		                 
		        </div>
                <div class="row">&nbsp;</div>
			    <div class="row">
			      <label class="control-label">Stream Info (only needed to add a Stream Config)</label>
				  <textarea type="text"  class="form-control large" ng-model="ajaxText"></textarea>
		        </div>
		     	<div class="row">&nbsp;</div>
				<div class="row">		                 
		                 <input type="submit" value="Add New Config" class="btn btn-primary btn-responsive" ng-click="postConfig()">
		                 
				</div>
				<div class="row">&nbsp;</div>
				<div ng-if="!stompError" class="row alert-success">{{stompResponse}}</div>
				<div ng-if="stompError" class="row alert-danger">{{stompResponse}}</div>

		  </div>
		</div>
</div>


